$green: #63E33B;
$turquoise: #1CCDD1;
$blue: #00ABFF;
$purple: #7356C5;
$magenta: #E50064;
$orange: #FF4500;
$primary: #102535;
$neutral: #B9C0C6;
$adl-red: #d40000;
$adl-midblue: #005a9c;
$adl-gold: #b38808;


$brand-colors: (
green: $green,
turquoise: $turquoise,
blue: $blue,
purple: $purple,
magenta: $magenta,
orange: $orange,
primary: $primary,
adl-red: $adl-red,
adl-midblue: $adl-midblue,
adl-gold: $adl-gold,
);

$ui-colors: (
neutral: $neutral,
);

@each $color, $value in $brand-colors{
  .#{$color}-lightest {color: mix(white, $value, 90%) !important;}
  .#{$color}-lighter {color: lighten($value, 35%) !important;}
  .#{$color}-light {color: lighten($value, 25%) !important;}
  .#{$color} {color: $value !important;}
  .#{$color}-dark {color: mix(black, $value, 25%) !important;}
  .#{$color}-darker {color: mix(black, $value, 35%) !important;}
  .#{$color}-tint {color: mix(white, $value, 92%) !important;}
  .#{$color}-bg-trans {background-color: transparentize($value, .5); color: #fff;}
  .#{$color}-bg-lighter {background-color: lighten($value, 35%)}
  .#{$color}-bg-light {background-color: lighten($value, 25%);}
  .#{$color}-bg {background-color: $value; color: #fff;}
  .#{$color}-bg-dark {background-color: darken($value, 10%); color: #fff;}
  .#{$color}-bg-darker {background-color: darken($value, 20%); color: #fff;}
  .#{$color}-bg-darkest {background-color: darken($value, 35%); color: #fff;}
  .#{$color}-bg-tint {background-color: mix(white, $value, 92%);}
}

@each $color, $value in $ui-colors{
  .#{$color}-lighter {color: lighten($value, 20%) !important;}
  .#{$color}-light {color: lighten($value, 10%) !important;}
  .#{$color} {color: $value !important;}
  .#{$color}-dark {color: mix(black, $value, 25%) !important;}
  .#{$color}-darker {color: mix(black, $value, 35%) !important;}
  .#{$color}-tint {color: mix(white, $value, 95%) !important;}
  .#{$color}-bg-trans {background-color: transparentize($value, .5); color: #fff;}
  .#{$color}-bg-lighter {background-color: lighten($value, 22%)}
  .#{$color}-bg-light {background-color: lighten($value, 18%);}
  .#{$color}-bg {background-color: $value; color: #fff;}
  .#{$color}-bg-dark {background-color: darken($value, 10%); color: #fff;}
  .#{$color}-bg-darker {background-color: darken($value, 20%); color: #fff;}
  .#{$color}-bg-darkest {background-color: darken($value, 30%); color: #fff;}
  .#{$color}-bg-tint {background-color: mix(white, $value, 92%);}
}
