figure.image-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  padding: 1em 0;

  > * {
    z-index: 0;
  }
}


figure.image-right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  max-width: 100%;
  padding: 1em 0;

  > * {
    z-index: 0;
  }
}

figure.image-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-width: 100%;
  padding: 1em 0;

  > * {
    z-index: 0;
  }
}
