.adx-rules, .adx-def {
  background: mix(white, $gold, 90%) !important;
  border: $gold 2px solid;
  border-top: $gold 1em solid;
  border-radius: $radius;
  padding: 1em 2em;
  margin: .7em 0;
}

.adx-note {
  background: mix(white, $compliment, 90%) !important;
  border-left: $compliment 1em solid;
  border-radius: $radius;
  padding: 1em 2em;
  margin: .7em 0;
}

.adx-example {
  background: mix(white, $accent, 90%) !important;
  border-left: $accent 1em solid;
  border-radius: $radius;
  padding: 1em 2em;
  margin: .7em 0;
}

.adx-exam {
  background: mix(white, $primary, 90%) !important;
  border: $primary 2px solid;
  border-top: $primary 1em solid;
  border-radius: $radius;
  padding: 1em 2em;
  margin: .7em 0;
}

h3.adx-label {
  margin-top: 2em !important;
  width: 40% !important;
  font-size: .8rem !important;
  font-weight: normal !important;
  text-transform: uppercase !important;
  color: $primary-light !important;
  background: $neutral-light !important;
  padding: .5em !important;
  border-radius: $radius;
  border-bottom: $neutral solid 1px !important;
  border-right: $neutral solid 1px !important;
}
