
.profile {
  display: flex;
  align-items: center;
  flex-direction: row;
  img {
    border-radius: 50%;
    border: 2px solid $primary;
    height: 6em;
  }
  h2 {
    padding-left: 1.2em;
    margin-top: 10px !important;
    color: $primary !important;
  }
}
