
.profile {
  display: flex;
  align-items: center;
  flex-direction: row;
  img {
    border-radius: 50%;
    border: 2px solid $primary;
    height: 4em;
  }
  h2 {
    padding-left: .5em !important;
    margin-top: 10px !important;
    color: $primary !important;
    text-transform: uppercase !important;

  }
}

.biography {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
  justify-content: flex-start;
  padding: 1em;

  &:nth-of-type(2n+2){
    background: $neutral-light;
  }


  .bio-details{
    display: flex;
    align-items: center;
    flex-direction: column;
  img {
      border-radius: 50%;
      border: 2px solid $primary;
      height: 6em;
  }

  p {
    text-align: center !important;
  }
}
}
