figure img {
  &.adx-50h {
    max-height: 50vh !important;
  }
  &.adx-70h {
    max-height: 70vh !important;
  }
  &.adx-50w {
    max-width: 50% !important;
  }
  &.adx-70w {
  max-width: 70% !important;
  }
}

.breathing-1 {
  margin: $pad1 0 !important;
}

.breathing-2 {
  margin: $pad2 0 !important;
}

.breathing-3 {
  margin: $pad3 0 !important;
}

div.half {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  & > * {
    max-width: 40%;
    margin: .25em;
  }
}
