figure img {
  &.adx-50h {
    max-height: 50vh !important;
  }
  &.adx-70h {
    max-height: 70vh !important;
  }
  &.adx-50w {
    max-width: 50% !important;
  }
  &.adx-70w {
  max-width: 70% !important;
  }
}
