table.accent-style {
  width: 100% !important;

  & caption {
    font-size: 1.5em !important;
    font-weight: bold !important;
    text-align: left !important;
  }

  & thead th {
    background: $accent !important;
    color: $rev !important;
  }

  &.centered tr, tr {
    text-align: center !important;
  }

  &.adx-70w {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  }

  &.adx-40w {
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  }

}
