.bold-text {
  font-weight: bold;
}

.intro-text {
  font-size: 1.3em;
  font-style: italic;
}

pre code {
  padding: .75em !important;
  border: 1px solid $neutral !important;
  background: $neutral-lighter !important;
  font-family: monospace;
  border-radius: $radius;
}

.code {
  font-family: Courier, Lucida Console, monospace;
  color: $accent !important;
  background: $neutral-light;
  padding: .1em .25em
}

article.streak button {
  text-shadow: none !important;

  &:hover {
    text-shadow: none !important;

  }
}

blockquote {
  margin: 1em 1em !important;
  padding: 1.5em;
  font-style: italic;
  font-size: 1.7em;
  line-height: 1.5 !important;
  font-weight: lighter;



  p {
    margin-bottom: 0 !important;
    margin-top: 0 !important;

    &.center {
      text-align: center !important;
    }
  }

  & cite {
    font-size: 80%;

    &::before {
      content: '\2014\00a0\00a0 ';
      margin-left: 1em;
    }
  }

  &.pullquote {
  border: 0 !important;
  box-shadow: $shadow;
  background: $accent-darker;
  color: $rev !important;
  border-radius: $radius;

    p, cite {
      color: $rev !important;
    }
  }

  &.fancyquote {
  border-width: 4px 0 !important;
  border-style: solid;
  color: $accent-dark;
  }
}
