body {
  background: $backgroundColor;
  color: $bodyColor;
}

a {
  color: $accent-darker;

  &:hover, &:focus {
  color: $accent;
}
}

.course-wrapper h1 {
  padding-bottom: .1em !important;
  border-bottom: .2em solid !important;
  border-image: $gradient 0 0 1 0  !important;
  border-radius: $radius;

  &.box {
  color: #fff !important;
  padding: .7em;
  background: $gradient-rev !important;
  border: none;
  border-radius: $radius;
  max-width: 100%;
}
}
