$green: #63E33B;
$turquoise: #1CCDD1;
$blue: #00ABFF;
$purple: #7356C5;
$magenta: #E50064;
$orange: #FF4500;
$primary: #102535;
$neutral: #B9C0C6;
$red: #d40000;
$midblue: #005a9c;
$gold: #b38808;
$rev: #fff;
$blk: #000;
